@keyframes gakuburu {
  50% {
    transform: translateX(3px);
  }
  100% {
    transform: translateX(-3px);
  }
}

.loading {
  color: white;
  position: fixed;
  z-index: 999; /* 一番上のレイヤー */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #242424;
  display: flex;
  align-items: center; /* 文字が上下を真ん中に*/
  justify-content: center; /* 文字が左右を真ん中に*/
  font-size: 50px;
  transition: transform 0.5s ease-in-out;

  > span {
    animation: gakuburu 0.1s infinite;
  }

  &.isActive {
    transform: translateY(-100%);
  }
}
